.page-loans {
  padding: 0 5rem 6rem 5rem;
  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  }

  &__img {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media all and (max-width: 1023px) {
  .page-loans{
    padding: 0;
  }
}
