@use "../../../../app/globals";

.page-loans {

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
    gap: 2rem;
  }

  &__text {
    color: globals.$bg-color;
    margin-left: 1rem;
  }

  &__img {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    //margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media all and (min-width: 1023px) and (max-width: 1440px) {
  .page-loans {

    &__content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
      gap: 2rem;
    }
  }
}

@media all and (max-width: 1023px) {
  .page-loans {
    padding: 0;
  }
}
