.table-comparison {
  max-width: 86vw;
  max-height: 86vh;
  margin: 0 auto;

  &::-webkit-scrollbar {
    width: 12px;

    &-track {
      background: rgba(255, 165, 0, 0);
    }

    &-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      --tw-bg-opacity: 0;
    }
  }

  &__btn {
    z-index: 220 !important;
  }
}

.table :where(th, td) {
  min-width: 12vw;
}
