.table-comparison {


  &::-webkit-scrollbar {
    width: 12px;

    &-track {
      background: rgba(255, 165, 0, 0);
    }

    &-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      --tw-bg-opacity: 0;
    }
  }
}

.table :where(th, td){
  min-width: 12vw;
}
