.service-block {
  &__choice {
    margin: auto 0;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
    gap: 1rem;

  }
}

@media all and (max-width: 1023px) {
  .service-block {


    &__card{

    }
  }

}
