.service-block{
  &__choice{
margin: auto 0;
  }
  &__cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
  }
}

@media all and (max-width: 1023px) {
  .service-block{

    &__cards {
      grid-template-columns: auto auto ;
    }
    //&__card{
    //  width: 12rem;
    //}
  }

}
