@import "../../../../../app/globals";

.comparison {
  width: 87vw;
  padding: 0 5.5rem;
  position: fixed;
  bottom: 1.5rem;
  z-index: 2;

  &__card {
    overflow: auto;
    background-color: rgba(31, 41, 55, 0.95);
  }

  &__body {
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    &-btn {

    }
  }

  &__information {
    display: flex;
  }

  &__item {
    &__text {

    }
  }
}

@media all and (max-width: 1439px) {
  .comparison{
    width: 76vw;
    padding: 0 3rem;
    &__item{
      font-size: .9rem;
    }
  }
}

@media all and (max-width: 1023px) {
  .comparison {
    padding: 0;
    width: 100vw;
  }
}

@media all and (max-width: 767px) {
  .comparison__information{
    display: none;
  }
}
