@use "../../../../../app/variables";
.custom-input{
  background: #f2f2f2 !important;
  &:focus{
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
    outline-color: variables.$bg-color-hover!important;
    background: #ffffff !important
  }
}
