@use "app/globals";
.custom-dropdown {
  &__btn {
    border-color: hsl(var(--b2) / var(--tw-border-opacity)) !important;
    background: hsl(var(--b2) / var(--tw-border-opacity)) !important;
    font-weight: normal !important;
    &:hover{
      background: globals.$bg-color-hover!important;
      color: white;
    }
  }
}
.menu{
  &::-webkit-scrollbar {
    width: 10px;

    &-track {
      background: rgba(255, 165, 0, 0);
    }

    &-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 100px;
      --tw-bg-opacity: 0;
    }
  }
}