@import "../../../app/globals";


.menu {
  background-color: #F7F7F7 !important;
}
.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).active){
  background: $bg-color!important;
  color: white!important;
}
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):active){
  background: $bg-color-hover!important;
}
@media all and (max-width: 767px) {
  .navbar-center {
    display: none;
  }

}

