@import "../../../app/globals";


.menu {
  background-color: #F7F7F7 !important;
}
.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).active){
  background: $bg-color!important;
  color: white!important;
}
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):active){
  background: $bg-color-hover!important;
}
.navbar{
  background: rgba(62, 104, 255, 0)!important;
}
