@import "../../../app/globals";

.drawer {
  &-content {
    padding: 0 1rem 1rem 1rem;
    overflow-y: scroll!important;
    scroll-behavior: smooth;
  }
}


.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).active){
  background-color: $bg-color!important;
}
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):active){
  background-color: $bg-color-hover!important;
}
