.page-home {
  &__text {
    margin: auto 0;
    max-width: 50vw;
  }


  &__block {
    height: 100vh;
    text-align: center;
  }

  &__m {
    padding-top: 5rem;
    margin-bottom: 10rem;
  }

}

@media all and (max-width: 1023px) {
  .page-home {


  }

}
